.avatar-grid {
	width: $avatar-grid-size;
	&__item {
		float: left;
		object-fit: cover;
	}
	&--items-1 {
		.avatar-grid__item {
			width: $avatar-grid-size;
			height: $avatar-grid-size;
		}
	}
	&--items-2 {
		.avatar-grid__item {
			width: ($avatar-grid-size / 2);
			height: $avatar-grid-size;
		}
	}
	&--items-3 {
		.avatar-grid__item {
			width: ($avatar-grid-size / 2);
			height: ($avatar-grid-size / 2);
			&:nth-child(1) {
				width: $avatar-grid-size;
			}
		}
	}
	&--items-4 {
		.avatar-grid__item {
			width: ($avatar-grid-size / 2);
			height: ($avatar-grid-size / 2);
		}
	}
}