.banner-message {
	padding: 15px;
	padding-right: 40px;
	position: relative;
	border-bottom: 1px solid rgba(black, .1);
	background-color: palette(context, neutral);
	&__body {
		font-size: em-calc(14px);
		p {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	&__close {
		position: absolute;
		top: 15px;
		right: 15px;
		color: black;
		font-size: 20px;
		font-weight: bold;
		text-decoration: none;
		opacity: .35;
		transition: opacity .3s ease;
		&:hover,
		&:focus {
			opacity: .75;
		}
	}
	&--warning {
		background-color: palette(context, warning);
	}
	&--error {
		background-color: palette(context, error);
	}
	&--success {
		background-color: palette(context, success);
	}
}