.card {
	position: relative;
	min-height: 42vw;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 13px 0 rgba(#000, .2);
	@include mq(tos) {
		min-height: 32vw;
	}
	@include mq(tng) {
		min-height: 45vh;
	}
	&__header {
		margin-bottom: 10px;
	}
	&__title {
		@include header-sisko;
	}
	&__body {
	}
}