.meet-card {
	display: flex;
	position: relative;
	border: 1px solid $meet-border-color;
	overflow: hidden;
	@each $locale, $color in $palette-locales {
		&[data-theme="#{$locale}"] {
			.meet-card__link::after {
				background-image: linear-gradient(45deg, rgba(palette($locale, base), .7) 0%, rgba(0, 0, 0, 0) 100%);
			}
		}
	}
	&__link {
		display: block;
		position: relative;
		width: 100%;
		text-decoration: none;
		background-color: #212121;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
		}
		&::before {
			background-color: rgba(palette(severn, base), .6);
			transition: background-color .3s $menu-transition-easing;
		}
		&:hover,
		&:focus {
			&::before {
				background-color: rgba(palette(severn, base), .7);
			}
		}
		&:focus {
			z-index: 1;
		}
	}
	&__media {
		position: relative;
		overflow: hidden;
	}
	&__image,
	&__map {
		width: 100%;
		height: 42vw;
		object-fit: cover;
		@include mq(tos) {
			height: 32vw;
		}
		@include mq(tng) {
			height: 45vh;
		}
	}
	&__body {
		padding: 15px 20px;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
		color: #fff;
	}
	&__title {
		@include header-kirk;
		margin-bottom: 5px;
		padding-right: 15px;
		position: relative;
		color: inherit;
	}
	&__live {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
	&__meta {
		@include secondary-font;
		list-style: none;
	}
	&__meta-item {
		display: inline;
		&:nth-child(n+2) {
			&::before {
				content: "\2022";
				margin-right: .3em;
			}
		}
	}
}