.metadata {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	@include mq(tng) {
		flex-direction: row;
		border-bottom: 1px solid $meet-border-color
	}
	&__item {
		min-height: $avatar-grid-size;
		border-width: 0;
		border-style: solid;
		border-color: $meet-border-color;
		border-bottom-width: 1px;
		position: relative;
		padding: 10px 20px;
		overflow: hidden;
		@include mq(tng) {
			border-bottom-width: 0;
			&:nth-child(n+2) {
				border-left-width: 1px;
			}
		}
		&--media {
			padding-left: $avatar-grid-size + 10px;
		}
	}
	&__media {
		position: absolute;
		top: 0;
		left: 0;
	}
	&__key,
	&__value {
	}
	&__key {
		@include secondary-font;
		@include header-archer;
		margin-bottom: 3px;
	}
	&__value {
		line-height: em-calc(18px, 16px);
	}
}