.navigation {
	&__inner {
	}
	&__list {
		list-style: none;
	}
	&__item {
		display: inline-block;
	}
	&__link {
		display: inline-block;
		position: relative;
		padding: 10px;
		transition-duration: .3s;
		transition-property: padding;
		transition-timing-function: ease;
		color: #212121;
		letter-spacing: .1em;
		text-decoration: none;
		text-transform: uppercase;
		// &[href*="blog.severnbronies.co.uk"] {
		// 	&::after {
		// 		@include icon-external(#666, 10px);
		// 		content: "";
		// 		margin-left: 3px;
		// 		vertical-align: middle;
		// 	}
		// }
		&::before,
		&::after {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: scale(0);
			transition: transform .32s $menu-transition-easing;
			border: 2px solid palette(severn, base);
			border-radius: 100%;
			content: "";
		}
		&::before {
			width: 30px;
			height: 30px;
			margin-top: -15px;
			margin-left: -15px;
			opacity: .3;
		}
		&::after {
			width: 24px;
			height: 24px;
			margin-top: -12px;
			margin-left: -12px;
			opacity: .2;
		}
		&:hover,
		&:focus {
			&::before,
			&::after {
				transform: scale(1);
			}
		}
	}
}