.navigation {
	&__inner {
	}
	&__item {
		display: inline-block;
	}
	&__link {
		display: inline-block;
		padding: 10px;
		position: relative;
		color: #212121;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: .1em;
		transition-property: padding;
		transition-duration: .3s;
		transition-timing-function: ease;
		&[href*="blog.severnbronies.co.uk"] {
			&::after {
				@include icon-external(#666, 10px);
				content: "";
				margin-left: 3px;
				vertical-align: middle;
			}
		}
		&:hover,
		&:focus {
			padding-right: 15px;
			padding-left: 15px;
		}
	}
}