.search-form {
	display: table;
	width: 100%;
	position: relative;
	&__label {
		@include hidden;
	}
	&__input,
	&__buttons {
		display: table-cell;
	}
	&__input {
		@include icon-search(#888, 5vw);
		width: 100%;
		height: auto;
		padding-left: 6vw;
		position: relative;
		z-index: 2;
		float: left;
		border: none;
		border-radius: 0;
		color: #000;
		background-color: transparent;
		background-position: center left;
		background-repeat: no-repeat;
		font-family: inherit;
		font-size: 5vw;
		-webkit-appearance: none;
	}
	&__buttons {
		width: 1%;
		position: relative;
		white-space: nowrap;
		vertical-align: middle;
		.js & {
			display: none;
		}
	}
	&__submit {
		position: relative;
		z-index: 2;
		border: 1px solid #000;
		height: 21px;
		padding: 2px 3px;
		color: #000;
		font-size: em-calc(14px);
	}
}