.search-results {
	&__list {
		list-style: none;
	}
	&__item {
		max-width: 38em;
		margin-bottom: 20px;
		padding: 20px;
		background-color: #fff;
		box-shadow: 0 0 13px 0 rgba(#000, .2);
	}
	&__link {
		display: block;
		color: inherit;
		text-decoration: none;
	}
	&__title {
		@include header-picard;
		margin-bottom: 8px;
		color: palette(severn, base);
	}
	&__content {
		@include secondary-font;
	}
	&__message {
		@include secondary-font;
		h2 {
			@include header-janeway;
		}
		&--no-results {
			
		}
		&--empty {

		}
	}
}