.search-results {
	&__list {
		list-style: none;
	}
	&__item {
		max-width: 38em;
		margin-bottom: 20px;
	}
	&__link {
		display: block;
		padding: .2vw;
		color: inherit;
		text-decoration: none;
		&:hover,
		&:focus {
			background-color: #ddd;
		}
	}
	&__title {
		@include header-picard;
	}
	&__content {
		margin: 4px 0;
	}
	&__url {
		@include secondary-font;
		font-size: smaller;
	}
	&__message {
		@include secondary-font;
		h2 {
			@include header-janeway;
		}
		&--no-results {
			
		}
		&--empty {

		}
	}
}