.social-links {
	&__list {
		
	}
	&__item {
		display: inline-block;
		margin-right: 5px;
	}
	&__label {
		@include hidden;
	}
	&__link {
		display: block;
		width: 2em;
		height: 2em;
		transition: transform .3s $menu-transition-easing;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 1.5em;
		&:hover,
		&:focus {
			transform: scale(1.2);
		}
		&--twitter {
			background-color: palette(social, twitter);
			@include icon-social-twitter(#fff);
		}
		&--facebook {
			background-color: palette(social, facebook);
			@include icon-social-facebook(#fff);
		}
		&--tumblr {
			background-color: palette(social, tumblr);
			@include icon-social-tumblr(#fff);
		}
		&--github {
			background-color: palette(social, github);
			@include icon-social-github(#fff);
		}
		&--telegram {
			background-color: palette(social, telegram);
			@include icon-social-telegram(#fff);
			background-size: 16px 16px;
		}
		&--discord {
			background-color: palette(social, discord);
			@include icon-social-discord(#fff);
			background-size: 18px 18px;
		}
	}
}