.social-card {
	position: relative;
	background-color: #fff;
	min-height: 42vw;
	box-shadow: 0 0 13px 0 rgba(#000, .2);
	@include mq(tos) {
		min-height: 32vw;
	}
	@include mq(tng) {
		min-height: 45vh;
	}
	&__media {
	}
	&__image {
		width: 100%;
		height: 25vh;
		margin-bottom: 20px;
		object-fit: cover;
	}
	&__body {
		padding: 0 20px 20px;
	}
	&__footer {
		padding: 20px;
		font-size: em-calc(14px);
	}
	&__source,
	&__date {
		display: inline-block;
		color: #777;
		text-decoration: none;
		line-height: 19px;
		white-space: nowrap;
	}
	&__source {
		@include hide-text;
		display: inline-block;
		width: 20px;
		height: 20px;
		margin-right: 4px;
		background-repeat: no-repeat;
		vertical-align: middle;
	}
	&__date {
		padding-left: 0;
		opacity: .54;
	}
	&--twitter {
		&:not(.social-card--has-image) .social-card__body {
			font-size: em-calc(18px);
			@include mq(tng) {
				font-size: em-calc(22px);
			}
		}
		.social-card__source {
			@include icon-social-twitter(palette(social, twitter), 20px);
		}
	}
	&--facebook {
		.social-card__source {
			@include icon-social-facebook(palette(social, facebook), 20px);
		}
	}
	&--tumblr {
		.social-card__source {
			@include icon-social-tumblr(palette(social, tumblr), 20px);
		}
	}
}