.social-links {
	&__list {
		list-style: none;
	}
	&__item {
		width: 105px;
		margin-bottom: 4px;
		float: left;
	}
	&__label {
	}
	&__link {
		display: block;
		padding-right: 8px;
		color: #888;
		font-size: em-calc(13px);
		text-decoration: none;
		white-space: nowrap;
		&::before {
			display: inline-block;
			width: 2em;
			height: 2em;
			margin-right: 8px;
			transition: transform .3s $menu-transition-easing;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 1.5em;
			color: #fff;
			content: "";
			vertical-align: middle;
		}
		&:hover::before,
		&:focus::before {
			transform: scale(1.2);
		}
		&--twitter::before {
			@include icon-social-twitter(#fff);
			background-color: palette(social, twitter);
		}
		&--facebook::before {
			@include icon-social-facebook(#fff);
			background-color: palette(social, facebook);
		}
		&--tumblr::before {
			@include icon-social-tumblr(#fff);
			background-color: palette(social, tumblr);
		}
		&--github::before {
			@include icon-social-github(#fff);
			background-color: palette(social, github);
		}
		&--telegram::before {
			@include icon-social-telegram(#fff);
			background-color: palette(social, telegram);
			background-size: 16px 16px;
		}
		&--discord::before {
			@include icon-social-discord(#fff);
			background-color: palette(social, discord);
			background-size: 18px 18px;
		}
	}
}