.staff-card {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	background-color: #fff;
	&__avatar {
		width: 96px;
		height: 96px;
	}
	&__body {
		padding: 20px;
		border-left: 1px solid #ccc;
	}
	&__header {

	}
	&__title {
		@include header-picard;
		display: inline;
	}
	&__email {
		@include secondary-font;
		margin-left: 5px;
		color: palette(severn, base);
		text-decoration: none;
		&:hover,
		&:focus {
			color: palette(severn, darkest);
		}
	}
	&__content {

	}
}