.stats {
	display: table;
	width: 100%;
	list-style: none;
	&__item {
		padding: 20px;
		display: table-cell;
		width: 33.3333%;
	}
	&__key,
	&__value {
		display: block;
		text-align: center;
	}
	&__key {
		margin-top: .6em;
		font-size: em-calc(13px);
		text-transform: uppercase;
		line-height: 1;
		letter-spacing: 1px;
		opacity: .7;
		@include mq(tng) {
			padding-right: 10px;
			padding-left: 10px;
		}
		@include mq(ds9) {
		}
	}
	&__value {
		color: transparent;
		background-color: #888;
		-webkit-background-clip: text;
		background-clip: text;
		font-family: monospace;
		text-shadow: 0px 2px 3px rgba(#fff, .5);
		line-height: .8;
		font-size: em-calc(36px);
		font-feature-settings: "tnum" on;
		font-variant-numeric: tabular-nums;
		@include mq(tos) {
			font-size: em-calc(72px);
		}
		@include mq(tng) {
			font-size: em-calc(116px);
		}
		@include mq(ds9) {
			font-size: em-calc(146px);
		}
	}
}