// Settings - Breakpoints 
$breakpoints: (
	ent: 'only screen',
	tos: 'only screen and (min-width: 520px)',
	tng: 'only screen and (min-width: 860px)',
	ds9: 'only screen and (min-width: 1020px)',
	voy: 'only screen and (min-width: 1280px)'
);

// Settings - Typography
$base-font-size: 16px;

// Settings - Animation
$menu-width: 500px;
$menu-transition-duration: 1s;
$menu-transition-easing: cubic-bezier(.785, .135, .150, .860);

// Settings - Colours
$palette-locales: (
	severn: #5832ab,
	bristol: #f44336,
	cardiff: #3f51b5,
	weston-super-mare: #ffc107,
	newport: #009688
);

$palette: (
	context: (
		accessibility: #fc0,
		live: #c00
	),
	social: (
		twitter: #55acee,
		facebook: #3b5998,
		tumblr: #35465c,
		github: #333
	)
);

@each $locale, $color in $palette-locales {
	$map: (
		#{$locale}: (
			base: $color,
			darker: mix(#000, $color, 20%),
			darkest: mix(#000, $color, 40%),
			light: mix(#fff, $color, 70%),
		)
	);
	$palette: map_merge($palette, $map);
}

// Settings - Meets
$avatar-grid-size: 74px;
$meet-border-color: #ddd;

// Settings - Articles
$article-content-width: 36em;
$article-gutter: 1.25em;
$article-left-width: 10em;
$article-right-width: 20em;
$article-content-medium-width: ($article-content-width + $article-gutter + $article-left-width);
$article-content-large-width: ($article-content-medium-width + $article-gutter + $article-right-width);
$article-medium-breakpoint: $article-content-medium-width + ($article-gutter * 2);
$article-large-breakpoint: $article-content-large-width + ($article-gutter * 2);