// Settings - Breakpoints 
$breakpoints: (
	ent: 'only screen',
	tos: 'only screen and (min-width: 520px)',
	tng: 'only screen and (min-width: 800px)',
	ds9: 'only screen and (min-width: 1020px)',
	voy: 'only screen and (min-width: 1280px)'
);

// Settings - Typography
$base-font-size: 16px;

// Settings - Animation
$menu-width: 500px;
$menu-transition-duration: 1s;
$menu-transition-easing: cubic-bezier(.785, .135, .150, .860);

// Settings - Colours
$palette-locales: (
	severn: #2b2e4a,
	bristol: #f44336,
	cardiff: #3f51b5,
	weston-super-mare: #ffc107,
	newport: #009688
);

$palette: (
	context: (
		accessibility: #fc0,
		live: #c00
	)
);

@each $locale, $color in $palette-locales {
	$map: (
		#{$locale}: (
			base: $color,
			darker: mix(#000, $color, 20%),
			darkest: mix(#000, $color, 40%),
			light: mix(#fff, $color, 70%),
		)
	);
	$palette: map_merge($palette, $map);
}

 test { inspect: (sass: $palette); }

// Settings - Meets
$avatar-grid-size: 74px;
$meet-border-color: #ddd;