.accessibility-links {
	position: absolute;
	top: -9999px;
	left: -9999px;
	a:focus {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		padding: .5em;
		background-color: palette(context, accessibility);
		color: #000;
		text-align: center;
		text-decoration: none;
	}
}

a,
button,
input,
select,
textarea {
	&:focus {
		outline: 2px solid palette(context, accessibility);
	}
}

[data-whatinput="mouse"],
[data-whatinput="touch"] {
	a,
	button,
	input,
	select,
	textarea {
		&:focus {
			outline: none;
		}
	}
}