@keyframes spinner {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(364deg);
	}
}

@keyframes image-in {
	0% {
		opacity: 0;
		filter: saturate(0) grayscale(50%);
	}
	50% {
		opacity: 1;
	}
	75% {
		filter: saturate(75%) grayscale(0);
	}
	100% {
		filter: saturate(100%) grayscale(0);
	}
}

@keyframes live-flash {
	0%,
	100% {
		opacity: .2;
	}
	50% {
		opacity: .9;
	}
}