.content {
	p {
		margin-top: 1.4em;
		margin-bottom: 1.4em;
		line-height: 1.4;
	}
	a {
		color: inherit;
		text-decoration: none;
		box-shadow: inset 0 -.1em 0 0 palette(cta, default);
		transition: box-shadow .2s ease;
		&:hover,
		&:focus {
			box-shadow: inset 0 -.2em 0 0 palette(cta, default);
		}
	}
	small {
		color: mix(#fff, palette(brand, text), 40%)
	}
}