html {
	background-color: #fafafa;
}

body {
	color: #212121;
	background-color: transparent;
	&.overlay-open {
		overflow: hidden;
	}
}

@mixin wrapper {
	max-width: 1140px;
	margin-right: auto;
	margin-left: auto;
}