html {
	background-color: #fafafa;
}

body {
	background-color: transparent;
	color: #212121;
	&.overlay-open {
		overflow: hidden;
	}
}

@mixin wrapper {
	max-width: 1180px;
	margin-right: auto;
	margin-left: auto;
}