@viewport { width: device-width; }

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	box-sizing: border-box;
	&::before,
	&::after {
		box-sizing: inherit;
	}
}

html {
	text-size-adjust: 100%;
	overflow-scrolling: touch;
}

body {
	background-color: transparent;
	font-size: 100%;
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

template,
[hidden] {
	display: none;
}

/** Multimedia and embedded content */

audio,
canvas,
progress,
svg,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

audio,
canvas,
img,
svg,
video {
	max-width: 100%;
	height: auto;
}

img {
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
}

svg:not(:root) {
	overflow: hidden;
}

hr {
	height: 0;
	border-top: 1px solid #ccc;
	overflow: visible;
	box-sizing: content-box;
}

/** Links */

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	&:active,
	&:hover {
		outline-width: 0;
	}
	img {
		border: 0;
	}
}

/** Typography */

abbr[title],
dfn[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: inherit;
	font-weight: bolder;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

dfn {
	font-style: italic;
}

mark {
	background-color: #ff0;
	color: #000;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

small {
	font-size: 80%;
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

/** Tables */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th, td, caption {
	text-align: left;
	vertical-align: top;
}

/** Forms */

button,
input,
select,
textarea {
	font: inherit;
}

optgroup {
	font-weight: bold;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	&::-moz-focus-inner {
		padding: 0;
		border-style: none;
	}
	&:-moz-focusring {
		outline: 1px solid ButtonText;
	}
}

fieldset {
	margin: 0 2px;
	padding: .35em .625em .75em;
	border: 1px solid #c0c0c0;
}

legend {
	display: table;
	max-width: 100%;
	padding: 0;
	color: inherit;
	white-space: normal;
}

textarea {
	overflow: auto;
	resize: vertical;
}

[type="checkbox"],
[type="radio"] {
	padding: 0;
}

[type="number"] {
	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		height: auto;
	}
}

[type="search"] {
	outline-offset: 2px;
	-webkit-appearance: textfield;
	&::-webkit-search-cancel-button,
	&::-webkit-search-decoration {
		-webkit-appearance: none;
	}
}

::-webkit-input-placeholder {
	color: inherit;
	opacity: .54;
}

::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}

[disabled] {
	cursor: default;
}