.table {
	width: 100%;
	table-layout: fixed;
	caption {
		@include header-sisko;
		text-align: left;
		caption-side: top;
	}
	th,
	td {
		padding-top: 10px;
		padding-right: 20px;
		padding-bottom: 10px;
		text-align: left;
		border-width: 0;
		border-style: solid;
		border-color: #ddd;
	}
	thead {
		th,
		td {
			@include header-kirk;
			border-bottom-width: 3px;
		}
	}
	tbody {
		th,
		td {
			border-bottom-width: 1px;
		}
	}
	tfoot {
		th,
		td {
			@include secondary-font;
			border-top-width: 3px;
		}
		th {
			@include header-kirk;
		}
	}
}