.table {
	width: 100%;
	caption {
		@include header-sisko;
		text-align: left;
		caption-side: top;
	}
	th,
	td {
		padding-top: 10px;
		padding-right: 20px;
		padding-bottom: 10px;
		text-align: left;
		border-width: 0;
		border-style: solid;
		border-color: #ddd;
		vertical-align: top;
	}
	thead {
		th,
		td {
			@include header-kirk;
			border-bottom-width: 3px;
		}
		th {
			vertical-align: bottom;
		}
	}
	tbody {
		th,
		td {
			border-bottom-width: 1px;
		}
	}
	tfoot {
		th,
		td {
			@include secondary-font;
			border-top-width: 3px;
		}
		th {
			@include header-kirk;
		}
	}
}

@include mq("(max-width: 600px)") {
	.table {
		&,
		thead,
		tbody,
		tfoot,
		tr,
		th,
		td {
			display: block;
		}
		tr {
			border-width: 0;
			border-style: solid;
			border-color: #ddd;
			border-bottom-width: 1px;
			&:first-child {
				border-top-width: 1px;
			}
		}
		th,
		td {
			border-bottom: 0;
		}
		thead {
			tr {
				@include hidden;
			}
		}
	}
}