<div class="pagination">
    <ul class="pagination__list">
        <li class="pagination__item">
            <a href="#" class="pagination__link">
                Meets #98&ndash;79
            </a>
        </li>
        <li class="pagination__item">
            <a href="#" class="pagination__link">
                Meets #78&ndash;59
            </a>
        </li>
        <li class="pagination__item">
            <a href="#" class="pagination__link">
                Meets #58&ndash;39
            </a>
        </li>
        <li class="pagination__item">
            <a href="#" class="pagination__link">
                Meets #38&ndash;19
            </a>
        </li>
        <li class="pagination__item">
            <a href="#" class="pagination__link pagination__link--current">
                Meets #18&ndash;1
            </a>
        </li>
    </ul>
</div>