<div class="banner-message banner-message--warning">
    <div class="content banner-message__body">
        <p>{{ message }}</p>
    </div>
    {{#if closeButton}}
    <a class="banner-message__close" data-close-banner="sbCookieMessage" href="#">&times;</a>
    {{/if}}
</div>