.page-home {
	&__intro {
		color: #fff;
		background-color: palette(severn, base);
	}
	&__grid {
		.grid__item.meet-card:nth-child(2) {
			@include mq(tng) {
				width: calc(66.6666% - 4px);
			}
		}
	}
}
