.page-about {
	max-width: none;
	&__media {
		position: relative;
		z-index: -1;
	}
	&__image {
		width: 100%;
		height: 40vh;
		min-height: 300px;
		object-fit: cover;
	}
	&__body {
		@include wrapper;
		position: relative;
		margin-top: -40px;
	}
	&__section {
		margin: 30px auto;
		&--intro {
			max-width: 36em;
			margin-top: 0;
			padding: 20px;
			position: relative;
			background-color: #fafafa;
			font-size: em-calc(18px);
			@include mq(tng) {
				font-size: em-calc(21px);
			}
			&::before {
				content: "";
				height: 100px;
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				z-index: -1;
				border-bottom-left-radius: 1em;
				border-bottom-right-radius: 1em;
				box-shadow: 0 0 13px 0 rgba(#000, .2);
			}
		}
		&--categories {
			max-width: 58em;
			margin-right: auto;
			margin-left: auto;
			padding: 20px 40px;
			background-color: #fff;
			box-shadow: 0 0 13px 0 rgba(#000, .2);
			.page-about__section-body {
				@include mq(tng) {
					column-count: 2;
					column-gap: 40px;
					> * {
						break-inside: avoid;
					}
				}
				.content {
					padding-bottom: 20px;
				}
			}
		}
		&--staff {
			padding-top: 30px;
			padding-right: 0;
			padding-left: 0;
			background-color: #fafafa;
			.page-about__section-body {
				max-width: 880px;
				margin-right: auto;
				margin-left: auto;
			}
		}
	}
	&__section-title {
		@include header-janeway;
		margin-bottom: 20px;
		text-align: center;
		opacity: .7;
	}
}