.page-about {
	position: relative;
	background-color: #fff;
	&__media {
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		&::before {
			background-image: repeating-radial-gradient(center center, rgba(#000, .2), rgba(#000, .2) 1px, transparent 1px, transparent 100%);
			background-size: 3px 3px;
			z-index: 1;
		}
		&::after {
			background-image: linear-gradient(to bottom, rgba(#fff, 0) 0, rgba(#fff, 1) 98%); 
			background-position: bottom center;
			background-size: 100% 200px;
			background-repeat: no-repeat;
			z-index: 2;
		}
	}
	&__image {
		width: 100%;
		height: 42vh;
		min-height: 300px;
		object-fit: cover;
	}
	&__body {
		margin-top: -40px;
		position: relative;
		z-index: 3;
	}
	&__section {
		margin: 30px auto;
		padding-right: 20px;
		padding-left: 20px;
		&--intro {
			max-width: 34em;
			margin-top: 0;
			font-size: em-calc(18px);
			@include mq(tng) {
				font-size: em-calc(21px);
			}
		}
		&--stats {
			padding-right: 0;
			padding-left: 0;
			color: #fff;
			background-color: palette(severn, darker);
		}
		&--categories {
			.page-about__section-body {
				@include mq(tng) {
					column-count: 2;
					column-gap: 40px;
					> * {
						break-inside: avoid;
					}
				}
			}
			.content {
				margin-top: 20px;
			}
		}
		&--media {
			color: #fff;
			background-color: palette(severn, base);
		}
		&--staff {
			padding-top: 30px;
			padding-right: 0;
			padding-left: 0;
			background-color: #fafafa;
			.page-about__section-body {
				@include mq(tng) {
					column-count: 2;
					column-gap: 20px;
					> * {
						break-inside: avoid;
					}
				}
			}
		}
	}
	&__section-header {
	}
	&__section-title {
		@include header-janeway;
		text-align: center;
	}
	&__section-body {

	}
}