.footer {
	margin-top: 20px;
	padding-top: 30px;
	background-color: #212121;
	color: #fff;
	&__inner {
		@include wrapper;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		@include mq(tos) {
			flex-direction: row;
			flex-wrap: wrap;
		}
	}
	&__social-links,
	&__navigation,
	&__boilerplate {
		padding-right: 20px;
		padding-left: 20px;
		padding-bottom: 30px;
	}
	&__social-links {
		@include mq(tos) {
			width: 50%;
			order: 2;
		}
		@include mq(tng) {
			width: 25%;
			order: 3;
		}
	}
	&__navigation {
		&--primary {
			@include mq(tos) {
				width: 50%;
				order: 1;
			}
			@include mq(tng) {
				width: 25%;
			}
		}
		&--secondary {
			@include mq(tos) {
				width: 100%;
				order: 3;
				.footer__list {
					column-count: 2;
					column-gap: 20px;
				}
			}
			@include mq(tng) {
				width: 50%;
				order: 2;
			}
		}
	}
	&__title {
		@include header-sisko;
		margin-bottom: 15px;
		opacity: .85;
	}
	&__list {
		list-style: none;
	}
	&__item {
		margin-bottom: 15px;
	}
	&__link {
		display: inline-block;
		color: #777;
		text-decoration: none;
		&:hover,
		&:focus {
			color: #ccc;
		}
	}
	&__boilerplate {
		margin-top: 20px;
		padding-top: 10px;
		border-top: 3px solid rgba(#fff, .1);
		color: #777;
		font-size: em-calc(12px);
		line-height: em-calc(15px, 12px);
		order: 5;
		a {
			color: inherit;
		}
	}
	&__boilerplate-links {
		margin-top: 5px;
		list-style: none;
		li {
			display: inline-block;
			margin-right: 1em;
		}
	}
}
