.intro-panel {
	position: relative;
	background-color: palette(severn, darker);
	color: #fff;
	&__image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__inner {
		@include wrapper;
		position: relative;
		height: calc(100vh - 89px);
		min-height: 240px;
	}
	&__body {
		position: absolute;
		bottom: 15%;
		max-width: 420px;
		padding-right: 20px;
		padding-left: 20px;
		text-shadow: 0 0 42px rgba(#000, .8);
	}
	&__title {
		@include header-sisko;
		margin-bottom: 5px;
	}
	&__content {
	}
}