.masthead {
	color: #fff;
	@each $locale, $color in $palette-locales {
		[data-theme="#{$locale}"] & {
			background-color: palette($locale, base);
		}
	}
	&__inner {
		@include wrapper;
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
		@include mq("(min-width: 650px)") {
			justify-content: flex-start;
		}
	}
	&__branding {
	}
	&__logo {
		display: inline-block;
		padding: 15px 20px;
		font-size: em-calc(21px);
		font-weight: bold;
		letter-spacing: em-calc(1px, 21px);
		line-height: em-calc(24px, 21px);
		text-transform: uppercase;
		color: inherit;
		text-decoration: none;
		transition: color .3s ease;
		@each $locale, $color in $palette-locales {
			[data-theme="#{$locale}"] & {
				background-color: palette($locale, darker);
				color: palette($locale, light);
			}
		}
		&:hover,
		&:focus {
			color: #fff;
		}
	}
	&__nav-toggle {
		@include mq("(min-width: 650px)") {
			display: none;
		}
		&__link {
			display: block;
			padding: 15px 20px 15px 10px;
			color: inherit;
			font-weight: bold;
			text-decoration: none;
			text-transform: uppercase;
			&::before {
				content: "";
				@include icon-menu(#fff, 24px);
				vertical-align: middle;
			}
		}
		&__label {
			@include hidden;
		}
	}
	&__nav {
		display: none;
		@include mq("(min-width: 650px)") {
			display: block;
		}
	}
}