.masthead {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: $masthead-height;
	color: white;
	background-color: palette(brand, primary);
	&__branding {
		order: 2;
		font-size: em-calc(17px);
		font-weight: bold;
		text-align: center;
		line-height: em-calc(24px, 17px);
		letter-spacing: em-calc(2px, 17px);
		text-transform: uppercase;
		@include mq(tos) {
			font-size: em-calc(21px);
		}
		a {
			color: inherit;
			text-decoration: none;
		}
	}
	&__menu,
	&__alert {
		border-width: 0;
		border-style: solid;
		border-color: rgba(#fff, .2);
	}
	&__menu {
		order: 3;
		border-left-width: 1px;
		.masthead__icon {
			@include icon-menu(#fff, 24px);
		}
	}
	&__alert {
		order: 1;
		border-right-width: 1px;
		.masthead__icon {
			@include icon-search(#fff, 24px);
		}
	}
	&__link {
		display: block;
		padding: 0 15px;
		line-height: $masthead-height;
	}
	&__icon {
		vertical-align: middle;
	}
	&__label {
		@include hidden;
	}
}