.masthead {
	position: relative;
	border-top: 3px solid palette(severn, base);
	background-color: #fff;
	box-shadow: 0 0 13px 0 rgba(#000, .2);
	z-index: 2;
	@each $locale, $color in $palette-locales {
		[data-theme="#{$locale}"] & {
			border-top-color: palette($locale, base);
		}
	}
	&__inner {
		@include wrapper;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	&__branding {
		position: relative;
		padding-right: 10px;
		padding-left: 10px;
		background-color: palette(severn, base);
		@each $locale, $color in $palette-locales {
			[data-theme="#{$locale}"] & {
				background-color: palette($locale, base);
			}
		}
	}
	&__logo {
		height: 86px;
	}
	&__nav {
		display: none;
		padding-right: 10px;
		@include mq("only screen and (min-width: 560px)") {
			display: block;
		}
	}
	&__nav-toggle {
		@include mq("only screen and (min-width: 560px)") {
			display: none;
		}
		&__link {
			display: block;
			padding: 15px 20px 15px 10px;
			color: inherit;
			font-weight: bold;
			text-decoration: none;
			text-transform: uppercase;
			&::before {
				content: "";
				@include icon-menu(#212121, 24px);
				vertical-align: middle;
			}
		}
		&__label {
			@include hidden;
		}
	}
}