.meet {
	&__header {
		position: relative;
	}
	&__media {
		position: relative;
		overflow: hidden;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
			pointer-events: none;
		}
		&::before {
			background-color: rgba(palette(severn, base), .6);
		}
		&::after {
			opacity: .9;
			@each $locale, $color in $palette-locales {
				[data-theme="#{$locale}"] & {
					background-image: linear-gradient(45deg, rgba(palette($locale, base), .7) 0%, rgba(0, 0, 0, 0) 100%);
				}
			}
		}
	}
	&__image {
		width: 100%;
		height: 320px;
		object-fit: cover;
	}
	&__map {
		width: 100%;
		height: 320px;
	}
	&__title {
		@include header-janeway;
		padding-right: 60px;
		padding-bottom: 20px;
		padding-left: 20px;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		color: #fff;
		pointer-events: none;
	}
	&__live {

	}
	&__body {
		margin-bottom: 30px;
		background-color: #fff;
		border: 1px solid $meet-border-color;
		border-top-width: 0;
	}
	&__metadata {

	}
	&__content {
		min-height: 30vh;
		padding: 20px;
	}
}