.meet-grid {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
	&__item {
		width: 100%;
	}
	&--items-2 {
		@include mq(tos) {
			flex-direction: row;
		}
		.meet-grid__item {
			@include mq(tos) {
				width: 50%;
			}
		}
	}
	&--items-3 {
		@include mq(tos) {
			flex-direction: row;
		}
		@include mq(tng) {
			flex-wrap: nowrap;
		}
		.meet-grid__item {
			@include mq(tos) {
				&:nth-child(1) {
					flex: 1 0 100%;
				}
				&:nth-child(2),
				&:nth-child(3) {
					width: 50%;
					flex: 1 0 50%;
				}
			}
			@include mq(tng) {
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3) {
					flex: 1;
					width: 33.3333%;
				}
			}
		}
	}
	&--grid {
		flex-direction: row;
		.meet-grid__item {
			@include mq(tos) {
				width: 50%;
			}
			@include mq(tng) {
				width: 33.3333%;
			}
		}
	}
}