<header class="masthead" role="banner">
    <div class="masthead__inner">
        <div class="masthead__branding">
            <a class="masthead__logo" href="/">Severn Bronies</a>
        </div>
        <div class="masthead__nav-toggle">
            <a class="masthead__nav-toggle__link" href="#bottom">
                <span class="masthead__nav-toggle__label">Menu</span>
            </a>
        </div>
        <nav class="navigation masthead__nav" role="navigation">
            <div class="navigation__inner">
                {{> @navigation }}
            </div>
        </nav>
    </div>
</header>