<div class="search-results" data-search-results>
    <div class="search-results__message search-results__message--empty">
        <h2>We found nothing :(</h2>
        <div class="content">
            <p>Try searching for something else. You might have more luck this time!</p>
        </div>
    </div>
</div>