<div class="search-results" data-search-results>
    <ol class="search-results__list">
        {{#each searchResults}}
        <li class="search-results__item">
            <a class="search-results__link" href="#">
                <h2 class="search-results__title">
                    {{ this.title }}
                </h2>
                <div class="content search-results__content">
                    {{ this.excerpt }}
                </div>
                <div class="search-results__url">
                    {{ this.permalink }}
                </div>
            </a>
        </li>
        {{/each}}
    </ol>
</div>