.template-error-page {
	@include wrapper;
	display: flex;
	flex-direction: column;
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
	@include mq(tng) {
		flex-direction: row;
		text-align: right;
	}
	&__image {
		position: relative;
		margin-bottom: 10%;
		padding: 0 20px;
		@include mq(tng) {
			order: 2;
		}
		&:before {
			display: block;
			position: absolute;
			right: 0;
			bottom: -20px;
			left: 0;
			height: 80px;
			border-radius: 100%;
			background-color: rgba(#000, .35);
			content: "";
			filter: blur(20px);
		}
		img {
			position: relative;
		}
	}
	&__body {
		max-width: 32em;
		margin: 0 auto;
		padding: 0 20px;
		@include mq(tng) {
			order: 1;
			margin: 40px 0;
		}
	}
	&__title {
		@include header-janeway;
		max-width: 16em;
		margin-bottom: 20px;
	}
	&__content {
		
	}
}